<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      TinyApp
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a href="//github.io/jo_geek" target="_blank">Github</a>
    <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
    <form class="dis-initial" method='POST' action="/logout">
      <sub>Logged In As:
        <%= username %></sub>
      <button type="submit" class="btn btn-warning">Logout</button>
  </div>
  </form>
</div>
</div>


<!--
  <form class='marginTop' method='POST' action="/logout">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Logged in as: </span>
        </div>
        <div class="form-control">
          <%= username %>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-warning bstInline">Logout</button>
        </div>
      </div>
    </form>
-->