<nav class="navbar navbar-inverse navbar-fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TinyApp</a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/urls">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/urls/new">New URL</a>
      </li>
    </ul>
    <form class='marginTop' method='POST' action="/logout">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Logged in as: </span>
        </div>
        <div class="form-control">
          <%= username %>
        </div>
        <div class="input-group-append">
          <button type="submit" class="btn btn-warning bstInline">Logout</button>
        </div>
      </div>
    </form>
  </div>
</nav>