<form action="/urls" method="POST">
  <label for="longURL">Enter a URL:</label>
  <input class='form-control' type="text" name="longURL" placeholder="http://">
  <button class='btn btn-info' type="submit">Submit</button>
</form>