<hr />
<form action="/urls" method="POST">
  <div class="group">
    <input class='widen' type="text" id="url" name="url" placeholder="http://">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Enter a Url: </label>
  </div>
  <button class='btn btn-info' type="submit">Submit</button>
</form>