<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tiny Url</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="overlay">
      <header>
        <h1>TinyUrl</h1>
        <hr />
      </header>
      <main>
        <section>
          <h3>Join Us and Try It Out.</h3>
          <p>Shorter Urls in just a few clicks</p>
          <a class="linkReset" href="./login">
            <button type="submit" class="btn btn-start">Get Started</button>
          </a>
        </section>
      </main>
    </div>
  </div>

</body>

</html>