<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link type='text/css' rel="stylesheet" href='/main.css' />
  <link rel="stylesheet" href="/login-animation.css">
</head>

<body>
  <h1 class="cent">Tiny Urls At Your Fingertips</h1>
  <h3 class="cent">Register</h3>
  <form class='bstCenter' method="POST" action="/register">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input name='username' type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name='password' type="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info">Register</button>
    <button type="button" class="btn btn-success bstInline" disabled>Login</button>
  </form>
</body>

</html>