<!DOCTYPE html>
<html>

<% include ./partials/_head %>

<body>

  <% include ./partials/_nav %>

  <div class="card showCard">
    <div class="card-body">
      <h5 class="card-title">Url Chosen</h5>
      <p class="card-text">
        <%= shortURL %> ==>
        <%= longURL %>
        <form class='bstInline' method="POST" action="/urls/<%= shortURL %>">
          <div class="input-group mb-3">
            <input class='form-control' type='text' name='newURL' value="<%= longURL %>" style="width:auto;">
            </input>
            <div class="input-group-append">
              <button type="submit" class="btn btn-warning">Update</button>
            </div>
          </div>
        </form>

      </p>
    </div>
  </div>
</body>

</html>