<!DOCTYPE html>
<html>

<% include ./partials/_head %>

<body>
  <div class="container">
    <div class="overlay">
      <header>
        <h1>TinyUrl</h1>
        <hr />
      </header>
      <main>
        <section>
          <h3>Join Us and Try It Out.</h3>
          <p>Shorter Urls in just a few clicks</p>
          <a class="linkReset" href="./login">
            <button type="submit" class="btn btn-start">Get Started</button>
          </a>
        </section>
      </main>
    </div>
  </div>

</body>

</html>