<!DOCTYPE html>
<html>

<% include ./partials/_head %>

<body>

  <% include ./partials/_nav %>

  <div class="container">
    <div class="form">
      <h1 class="purp">Url Chosen</h1>
      <p>
        <%= shortURL %> ==>
        <%= longURL %>
        <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
          <div class="group">
            <input class='widen' type='text' name='newURL' value="<%= longURL %>">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>URL</label>
          </div>
          <button type="submit" class="btn btn-warning">Update</button>
        </form>
    </div>
  </div>
</body>

</html>