<html>

<% include ./partials/_head %>

<body>
  <% if(!username){ %>
  <div class="container">
    <div class="form">
      <h1>Tiny Urls At Your Fingertips</h1>
      <hr />
      <main>
        <section>
          <form method="POST">
            <div class="group">
              <input class="widen" name="username" type="email" required="required" />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
            <div class="group">
              <input class="widen" name="password" type="password" required="required" />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Password</label>
            </div>
            <button type="submit" class="btn btn-success" formaction="/login">Login</button>
            <button type='submit' class="btn btn-info" formaction="/register">Register</button>
          </form>
        </section>
      </main>
    </div>
  </div>
  <% }else{ %>
  <% } %>

</body>

</html>