<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tiny Url</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
</head>

<body>
  <% if(!username){ %>
  <div class="container">
    <div class="overlay">
      <h1>Tiny Urls At Your Fingertips</h1>
      <h3>Login</h3>
      <main>
        <section>
          <form method="POST">
            <label for="exampleInputEmail1">Email address</label>
            <input name='username' type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <label for="exampleInputPassword1">Password</label>
            <input name='password' type="password" class="form-control" placeholder="Password">
            <button type="submit" class="btn btn-success" formaction="/login">Login</button>
            <button type='submit' class="btn btn-info linkReset" formaction="/register">Register</button>
          </form>
        </section>
      </main>
    </div>
  </div>
  <% }else{ %>
  <% } %>

</body>

</html>