<!DOCTYPE html>
<html>

<% include ./partials/_header %>

<body>

  <div class="card" style="width:fit-content;margin:auto;margin-top:5%;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <% Object.entries(urls).forEach(el =>{ %>
      <li class="list-group-item">
        <%= el[0] %> =>
        <%= el[1] %>
        <button class="btn btn-warning" style="display:inline;">
          <a style="text-decoration:none;color:white;" href='/urls/<%= el[0] %>'>Edit</a>
        </button>
        <form method="POST" action="/urls/<%= el[0] %>/delete" style="display:inline;"><button class="btn btn-danger">DELETE</button></form>
      </li>
      <% })%>
    </ul>
  </div>
</body>

</html>