<!DOCTYPE html>
<html>

<% include ./partials/_head %>

<body>
  <div class="container">
    <div class="overlay">
      <header>
        <h1 class="purp">TinyUrl</h1>
        <hr />
      </header>
      <main>
        <section>
          <h3>Join Us and Try It Out.</h3>
          <p>Shorter Urls in just a few clicks</p>
          <form method="get" action="./urls">
            <button type="submit" class="btn btn-start">
              Get Started
            </button>
          </form>
        </section>
      </main>
    </div>
  </div>

</body>

</html>