<!DOCTYPE html>
<html>

<% include ./partials/_header %>

<body>
  <ul>
    <% Object.entries(urls).forEach(el =>{ %>
    <li>
      <a href='/urls/<%= el[0] %>'>
        <%= el[0] %></a> =>
      <%= el[1] %>
    </li>
    <% })%>
  </ul>
</body>

</html>