.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
.dis-initial {
  display: initial;
}
.list-group {
  list-style-type: none;
}
.form {
  width: 45vw;
}
header h1 {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}
section p {
  font-size: 0.7em;
}
section {
  font-family: "Arvo", serif;
  color: rgb(196, 196, 196);
}
.btn {
  border-radius: 5px;
  border: 2px solid rgb(122, 122, 122);
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(122, 122, 122);
  padding: 10px 20px;
  font-size: 10px;
  transition: color 0.5s ease-in 0s, border-color 0.5s ease-in 0s,
    background-color 0.5s ease-in 0s;
  font-family: "Arvo", serif;
  cursor: pointer;
}

.btn-start:hover {
  color: red;
  border-color: red;
  background-color: rgba(212, 179, 179, 0.966);
}
.btn-success:hover {
  color: green;
  border-color: green;
  background-color: rgba(212, 179, 179, 0.966);
}
.btn-info:hover {
  color: blue;
  border-color: blue;
  background-color: rgba(212, 179, 179, 0.966);
}

.btn-danger:hover {
  color: red;
  border-color: red;
  background-color: rgba(212, 179, 179, 0.966);
}
.btn-warning:hover {
  color: orange;
  border-color: orange;
  background-color: rgba(212, 179, 179, 0.966);
}
.reset {
  text-decoration: none;
}
.widen {
  width: -webkit-fill-available;
}
.purp {
  color: purple;
}
a:visited {
  color: blue;
}
.group {
  position: relative;
  margin: 45px 0;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196f3;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: -webkit-fill-available;
  /*320px*/
}
input[type="password"] {
  letter-spacing: 0.3em;
}
label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}
.bar {
  position: relative;
  display: block;
  width: -webkit-fill-available;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196f3;
  transition: 300ms ease all;
  left: 0%;
}
.fa-input {
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.unstyle {
  border: none;
}

.nav {
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}
.login-logout {
  margin-left: auto;
  margin-right: 2px;
}
.shrink {
  font-size: 25px;
  padding-bottom: 4px;
}

.align {
  align-self: center;
}
.pad-left {
  padding-left: 10px;
}
.mb0 {
  margin-bottom: 0;
}
.init {
  display: initial;
}
