body{
  background-image: url("./bg.png");
  background-size: cover;
}
label{
  color:white;
}
h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 100;
	text-transform: uppercase;
	color: #c1e2dc;
	font-size: 58px;
	line-height: 54px;
}
