body {
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.bstCenter {
  margin: auto;
  margin-top: 5%;
}
.max {
  width: 25em;
}
.cent {
  margin: auto;
  width: fit-content;
  margin-top: 3%;
  margin-bottom: 10px;
}
.textC {
  text-align: center;
  margin-top: 4%;
}
.in-block {
  display: inline-block;
}
.bstCenterButton {
  position: absolute;
}
.bstInline {
  display: inline;
}
.marginTop {
  margin-top: 15px;
}

.linkReset {
  text-decoration: none;
  color: white;
}

.showCard {
  width: fit-content;
  margin: auto;
  margin-top: 5%;
}
